*{
    padding: 0px 0px;
    margin: 0px 0px;
}

body{
    background-image:linear-gradient(120deg,#0090ff,#d8cdcd);
}

.main{
    position: relative;
    background-color: rgb(153, 207, 251);
    height: 400px;
    width: 500px;
    top: 40%;
    left: 50%; 
    transform: translate(-50%,50%);
    border: 2px solid rgb(10 133 148);
    border-radius: 35px;
    box-shadow: 4px 2px 4px #c3bfbf;
}

#longurl{
    position: relative;
    top: 25%;
    left: 10%;
    height: 40px;
    width: 296px;
    border: 1px solid #109396;
    border-radius: 10px;
    padding-left: 10px;
    padding-right: 20px;
    font-size: large;
    font-family: monospace;
    font-weight: bold;
    box-shadow: 2px 1px 2px white;
}

#shorten{
    position: relative;
    top: 25%;
    left: 12%;
    height: 40px;
    width: 80px;
    border: 1.5px solid black;
    border-radius: 10px;
    font-size: large;
    font-weight: bold;
    font-family: monospace;
    color: white;
    background-color: rgb(27 92 145);;
}

#shorten:hover{
    background-color: rgb(14 14 15);
    color: #f6f2f2;
}

#shorturl{
    position: relative;
    top: 30%;
    left: 10%;
    height: 40px;
    width: 270px;
    border: 1px solid #0eabb9;
    border-radius: 10px;
    padding-left: 10px;
    padding-right: 47px;
    font-size: large;
    font-family: monospace;
    font-weight: bold;
    box-shadow: 1px 1px 1px white;
}

#copy{
    position: relative;
    top: 31%;
    left: 0%;
    height: 35px;
    width: 35px;
    border: 1px solid black;
    border-radius: 10px;
    color: #1f1d1d;
    background-color: rgb(153 207 251);;
}

#copy:hover{
    background-color: rgb(6 29 243 / 67%);
    color: #151414;
}

.main p{
    position: relative;
    top: 10%;
    left: 13%;
    height: 60px;
    width: 400px;
    font-size: 50px;
    font-family: algerian;
    font-weight:normal;
    text-decoration: underline;
    color: rgb(255 255 255);
}
